<div class="main-container">
    <header class="header-6">
        <div class="header-nav">
            <a class="nav-link nav-icon">
                <clr-icon shape="bars"></clr-icon>
            </a>
            <a class="nav-link">Target</a>
        </div>
    </header>

    <div class="content-container">
        <nav class="sidenav">
            <section class="sidenav-content">
                <section class="nav-group collapsible">
                    <input id="admin-settings" type="checkbox">
                    <label for="admin-settings">Admin & Settings</label>
                </section>

                <section class="nav-group collapsible">
                    <input id="supply-management" type="checkbox">
                    <label for="supply-management">Supply Management</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link">Inventory</a>
                        </li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</div>